{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{%if error%}

{{error}}
<br/>
<br/>

{% endif%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Hey {{user}}!</strong> You should fill all of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div >

    <br>
    <br>
<div class="container"  > 
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 login-content" >
        <h1 ><center>Create NGO</center></h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.title|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.registration_number|as_crispy_field }}
                {{ form.contact|as_crispy_field }}
                {{ form.address|as_crispy_field }}
                {{ form.url|as_crispy_field }}
                {{ form.thumbnail|as_crispy_field }}
                {{ form.image|as_crispy_field }}
                <p>Fields of work:</p>
                <div class="form-row">
                    <div class="form-group col-3 ">
                      {{ form.hunger|as_crispy_field }}
                    </div>
                    <div class="form-group col-3">
                        {{ form.homeless|as_crispy_field }}
                    </div>
                    <div class="form-group col-3 ">
                        {{ form.women|as_crispy_field }}
                    </div>
                    <div class="form-group col-3 ">
                        {{ form.children|as_crispy_field }}
                     </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3 ">
                      {{ form.elderly|as_crispy_field }}
                    </div>
                    <div class="form-group col-3">
                        {{ form.cancer|as_crispy_field }}
                    </div>
                    <div class="form-group col-3 ">
                        {{ form.differently_abled|as_crispy_field }}
                    </div>
                    
                </div>
                
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</div>
{% endblock content %}

