{% extends 'base.html' %}


{% block content %}

<div class="container" >

    <div class="section-home home-reasons" >

        <div class="container">

            <div class="row">
                
                <div class="col-12 ">

                    <div class="reasons-col animate-onscroll fadeIn ">

                        <img src="{{media_url}}{{ ngo.image }}" alt="" height="480" width="720" style="border:0.5px solid #000000">

                        <div class="reasons-titles">
                            <h3>Title: {{ngo.title}}</h3>
                        </div>
                        <div class="on-hover hidden-xs">
                            <p>{{ngo.description}}</p>                           
                        </div>
                    </div>
                    
                </div>

            </div>
            <br>

            <div class="row table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Registration Number</th>
                        
                        <th scope="col">{{ngo.registration_number}}</th>
                      </tr>
                    </thead>
                    <thead>
                        <tr>
                          <th scope="col">Contact Number</th>
                          
                          <th scope="col">{{ngo.contact}}</th>
                        </tr>
                      </thead>
                      <thead>
                        <tr>
                          <th scope="col">Email</th>
                          
                          <th scope="col" style="color:rgb(220, 56, 72, 0.612)"><a href="mailto:{{ngo.email}}">{{ngo.email}}</a></th>
                        </tr>
                      </thead>
                  </table>
                  
                  
            </div>
            <div class="row">
                <a class="btn btn-danger" href="{{ngo.url}}" role="button" target="_blank">Visit Website</a>

            </div>
  

        </div>

</div>
</div>
{% endblock content %}

