{% extends 'base.html' %}


{% block content %}
{% load static %}



<main>

  <section class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  id="bg" style="background-repeat: no-repeat;background-size: 1600px 500px; background-image: url('{%static 'helpy/images/c2.jpg'%}');"
  >
    <div class="row py-lg-5 mask" >
      <div class="col-lg-6 col-md-8 mx-auto py-3" style="background-color: #ffffff9d; border-radius: 10px;">
        <h1 class="fw-dark  bounceInDown animated slow" style="font-weight: bolder; font-size: 72px; color: black;">Have a NGO?</h1>
        <p class="lead bounceInUp animated slow" style="font-weight: bolder;font-size: 24px; color: black;">Register it with us.</p>
        <p>
          <a href="{% url 'create' %}" class="btn btn-danger my-2">Register</a>
        </p>
      </div>
    </div>
  </section>

   {% if searched %}
  <h1>You searched for NGOs in '{{searched}}'</h1>
  {% else %}
  <h1>Forgot to search </h1>
  {% endif %}

<div class="container">
  <div class="row">
  {%for ngo in ngos.all%}
    <div class="col-12 col-md-4 p-5">
      <div class="card" style="height: 500px;" onclick="">
      <img src="{{media_url}}{{ ngo.thumbnail }}" class="card-img-top" alt="..." height="350" width="100" style="border-radius: 15px 15px 0px 0px;">
      <div class="card-body" style="border-top: 5px solid #DC3545;" >
        <h2 class="card-title">{{ngo.title}}</h2>
        <p class="card-text">{{ngo.description}}</p>
        <a class="stretched-link" href="{% url 'detail' ngo.registration_number %}"></a>
      </div>
      </div>
    </div>
  {%endfor%}
</div>
</div>


</main>

{% endblock content %}








 



